
<script>
    $(document).ready(
        function () {
            $('.cardtable').cardtable();
        }
    );
</script>


<table  class=" striped cardtable" >

    <thead>
    <tr>
        <th></th>
        <th>Fecha</th>
        <th>Discursante</th>
        <th>Congregación</th>
        <th>Detalles</th>

    </tr>
    </thead>
    <tbody>

    <tr data-ng-repeat="(k,v) in data.list | filter:data.filter">

        <td data-ng-if="v.tipo == 'entra'"><i class="material-icons cyan-text darken-4">call_received</i><i data-ng-if="v.prioridad == 'alta'" class="material-icons cyan-text darken-4">priority_high</i></td>
        <td data-ng-if="v.tipo == 'sale'"><i class="material-icons orange-text darken-4">call_made</i><i data-ng-if="v.prioridad == 'alta'" class="material-icons orange-text darken-4">priority_high</i></td>



        <td>{{v.fecha}}</td>
        <td>{{v.discursante}}</td>
        <td>{{v.congregacion}}</td>
        <td><a  href="#!/arreglos/{{v.id}}" class="waves-effect waves-teal btn-flat modal-trigger"><i
                class="material-icons">more_horiz</i></a>
        </td>

    </tr>
    </tbody>


</table>