<div class="card brown lighten-5" >
    <div class="card-content">
        <span class="card-title"><span class="cyan-text darken-4 left"><i class="material-icons">call_received</i><i class="material-icons">priority_high</i></span>Discurso público por confirmar</span>
        <p>El arreglo solicitado todavía no ha sido confirmado por la congregación de orígen.</p>
        <p>Puede esperar a que el coordinador de los arreglos lo confirme o comunicarse con él para que lo haga.</p>
        <ul>
            <li><i class="material-icons tiny left">event</i>5 de mayo</li>
            <li><i class="material-icons tiny left">person</i><strong>Abel Bourband</strong></li>
            <li><i class="material-icons tiny left">home</i>Co. Churruarín</li>
            <li><i class="material-icons tiny left">insert_drive_file</i>170 - ¿Quién es el único
                que
                puede
                gobernar bien a la humanidad?
            </li>
        </ul>
    </div>
    <div class="card-action">
        <a href="#">Cancelar la solicitud</a>
    </div>
</div>