
<div class="container">
    <div class="section">

        <div class="card">
            <div class="card-content">
                <span class="card-title">Arreglos por confirmar</span>

            </div>
            <div class="card-tabs">
                <ul class="tabs">
                    <li class="tab"><a class="active" href="#conftodos">Todos</a></li>
                    <li class="tab"><a href="#confentran">Entrantes</a></li>
                    <li class="tab"><a href="#confsalen">Salientes</a></li>

                </ul>
            </div>
            <div class="card-content white lighten-4">



                <div id="conftodos">

                    <div data-ng-repeat="data in conftodos"     data-ng-include="'views/elements/arreglos.html'"></div>

                </div>

                <div id="confentran">
                    <p >Los siguientes arreglos aún no han sido confirmados por la congregación de origen.</p>

                    <div data-ng-repeat="data in confentran"     data-ng-include="'views/elements/arreglos.html'"></div>

                </div>

                <div id="confsalen">
                    <p>Por favor, confirme los siguientes arreglos que fueron pedidos a su congregación.</p>

                    <div data-ng-repeat="data in confsalen"     data-ng-include="'views/elements/arreglos.html'"></div>


                </div>

            </div>
        </div>
    </div>

</div>


