
<div class="container">
    <div class="section">

        <div class="card">
            <div class="card-content">
                <span class="card-title">Arreglos por confirmar</span>

            </div>
            <div class="card-tabs">
                <ul class="tabs">
                    <li class="tab"><a class="active" href="#conftodos">Todos</a></li>
                    <li class="tab"><a href="#confentran">Entrantes</a></li>
                    <li class="tab"><a href="#confsalen">Salientes</a></li>

                </ul>
            </div>
            <div class="card-content white lighten-4">



                <div id="conftodos">

                    <element template="views/arreglos.html" bind="arreglos.noConfirmados"></element>


                </div>

                <div id="confentran">
                    <p>Los siguientes arreglos aún no han sido confirmados por la congregación de origen.</p>
                    <table class="responsive-table striped">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Fecha</th>
                            <th>Discursante</th>
                            <th>Congregación</th>
                            <th>Detalles</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr>
                            <td><i class="material-icons cyan-text darken-4">call_received</i><i
                                    class="material-icons cyan-text darken-4">priority_high</i></td>
                            <td>5 de julio</td>
                            <td>Abel Bourband</td>
                            <td>Churruarín</td>
                            <td><a class="waves-effect waves-teal btn-flat modal-trigger" href="#modal_confirmar_entrante"><i
                                    class="material-icons">more_horiz</i></a>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>

                <div id="confsalen">
                    <p>Por favor, confirme los siguientes arreglos que fueron pedidos a su congregación.</p>
                    <table class="responsive-table striped">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Fecha</th>
                            <th>Discursante</th>
                            <th>Congregación</th>
                            <th>Detalles</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr>
                            <td><i class="material-icons orange-text darken-4">call_made</i><i
                                    class="material-icons orange-text darken-4">priority_high</i></td>
                            <td>5 de julio</td>
                            <td>Abel Bourband</td>
                            <td>Churruarín</td>
                            <td><a class="waves-effect waves-teal btn-flat modal-trigger" href="#modal_confirmar_saliente"><i
                                    class="material-icons">more_horiz</i></a>
                            </td>


                        </tr>

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

</div>


