<div>
    <p>Dentro de poco estará en funcionamiento en esta dirección el sitio para hacer los arreglos de discursos.
    </p>
    <p>Mientras tanto les pedimos recopilar estos datos:</p>
    <ul>
        <li>Hermanos que coordinan los arreglos (No más de dos. Preferiblemente un anciano que hace los arreglos y
            alguien asignado para avisar a los hermanos):
        </li>
    </ul>
    <ul>
        <li>Nombre y apellido</li>
        <li>Teléfono y celular</li>
        <li>Email: tiene que ser una dirección de Gmail que use en sus dispositivos.
        </li>
    </ul>
    <ul>
        <li>Discursantes:</li>
    </ul>
    <ul>
        <li>Nombre y apellido</li>
        <li>Teléfono y celular</li>
        <li>Email: preferentemente la dirección de Gmail que usa en los dispositivos.
        </li>
        <li>Discursos que tiene preparados</li>
        <li>Si solamente puede salir una cantidad limitada de veces en el año, cuántas veces.
        </li>
        <li>Si prefiere que los arreglos sean espaciados a lo largo del año o pueden ser en cualquier momento.
        </li>
        <li>Hasta qué distancia tiene disponibilidad para viajar</li>
    </ul>
    <ul>
        <li>Cuantos arreglos al año pueden ser distantes</li>
    </ul>
    <ul>
        <li>Si está disponible para arreglos de emergencia</li>
    </ul>
    <p>Desde ya, muchas gracias.</p>

</div>