
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo truncate">Discursos públicos</a>
        <ul class="right hide-on-med-and-down">
            <li class="active"><a href="index.html"><i class="material-icons left">home</i>Inicio</a></li>
            <li><a href="arreglos.html"><i class="material-icons left">event</i>Arreglos<span class="new badge red" data-badge-caption="">1</span></a>
            </li>
            <li><a href="discursantes.html"><i class="material-icons left">recent_actors</i>Discursantes</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li class="active"><a href="index.html"><i class="material-icons left">home</i>Inicio</a></li>
            <li><a href="arreglos.html"><i class="material-icons left">event</i>Arreglos<span class="new badge red" data-badge-caption="">1</span></a>
            </li>
            <li><a href="discursantes.html"><i class="material-icons left">recent_actors</i>Discursantes</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>